#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  max-width: 380px;
  min-width: 250px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s;
}

@media (max-width: 480px) {
  .project-card {
    max-width: 300px;
    min-width: unset;
  }

  #projects-container {
    padding: 10px;
    gap: 15px;
  }
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.project-card p {
  font-size: 14px;
  color: #444;
  padding: 0 10px 10px;
}
